      body   {background-color:#293a3d;
              font-family: sans-serif;
              Helvetica;
              text-align:left      
             }
      p.herv {font-style:normal;
              color:#fcf8ec;
	      text-align:center;
	      font-style:italic;
	     }
      p	     {font-style:normal;
	      color:#fcf8ec;
	      text-align: justify;
	     }
      a      {
              text-decoration-color:#d0e8f2;
             }
      a:link {
              color:#d0e8f2;
	     }
      a:hover{
              color:#9bcee4;
             }
      {
        box-sizing: border-box;
      }
      h1     {color:#d0e8f2;
	      font-size: 42px;
	      letter-spacing: 3px;
              text-align:center;
	     }
      h2     {color:#afd8e9;
              font-size: 36px;
              letter-spacing: 3px;
              text-align:center;
	     }
      h3     {color:#87c4de5;
             font-size: 28px;
             letter-spacing: 3px;
             text-align:center;
	     }
      li    {background-color: #003366;
             }
      footer{font-style:normal;
              color:#fcf8ec;
	     font-size: 10px;
	    }      
     .column{color:#fcf8ec;
             float: left;
             width: 30%;
             padding: 20px;
             }
     .row:after {
             content: "";
             display: table;
             clear: both;
            }
      #blackRow {
	     margin: 0;
	     padding: 0;
	     height: 20px;
	     background-color: #a6a6a6
             }


